@import "src/App.scss";

.main-section {

  background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-size: cover;
 height: 100vh;
 
    
 @include respond(tab-port) {
  background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
}

.title{
   display: none;

   @include respond(tab-port) {
   display: block;
   text-align: center;
   width: 100%;
   margin: 0 auto;
   color: black;
   text-shadow: 0 0 2px salmon;
   text-transform: uppercase;
}

@include respond(phone) {
font-size: 7rem;
}
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 15rem;
  height: 32px;
  border-radius: 2rem ;
  background: white;
}

.loading-bar {
  height: 32px;
  background: $color-primary-light;
}

